<div class="body_bg">
	<div class="main">
    <!--==============================header=================================-->
        <header>
            <div class="container_24">
                <div class="grid_24">
                    <div class="left_stripe"></div>
                    <div class="rigth_stripe"></div>
                    <div class="navigation">
                      <a  href="javascript:void(0)" (click)="displayChatbot=false">Home</a>|<a  href="javascript:void(0)">Soutěže</a>|
					  <a  href="javascript:void(0)">Kdo jsme?</a>|<a class="last" href="javascript:void(0)">Kontakty</a>                    </div>
                    <h1><a class="logo" href="index.html">Burger restaurace Plzeň | Burgery z kvalitního hovězího masa</a></h1>
                    <nav>
                        <ul class="sf-menu">
                            <li  class=""><a  href="javascript:void(0)">Soutěž</a></li>
							<li  class="li"><a  href="javascript:void(0)">Kariéra</a></li>
							<li  class="li"><a  href="javascript:void(0)">Naše menu</a></li>
							<li  class="second_part"><a  href="javascript:void(0)">Nápoje</a></li>
							<li  class="li"><a  href="javascript:void(0)">Galerie</a></li>       
							<li  class="li"><a  href="javascript:void(0)" (click)="displayChatbot=true">Chatbot</a></li>                                                     
                        </ul>
                        <div class="clear"></div>
                    </nav>
                </div>
            </div>
            <div class="clear"></div>
        </header>
		
            <!--==============================content================================-->  
			<app-welcome *ngIf="!displayChatbot"></app-welcome>
			<app-chat-window *ngIf="displayChatbot"></app-chat-window>  
	</div>
</div>
<!--==============================footer=================================-->
<div class="footer_box">
	<footer>
        <div class="container_24">
            <div class="wrapper">
                <div class="grid_8 privacy">DELISH &copy; 2017 <br> Kopírování obsahu bez souhlasu<br>majitele není dovoleno.<br><!-- {%FOOTER_LINK} -->Webdesign by <a href="http://tobolka.cz">tobolka.cz</a></div>
                <div class="grid_7 prefix_1 cont_info">
                    <h2>rychlý kontakt</h2>
                    <dl class="adress">
                      <dt>Delish s.r.o., Riegrova 20, 301 00 Plzeň</dt>
<dd><span>Telefon:</span>+420 773 039 513</dd>
<!--<dd><span>Mobil:</span>+420 773 039 513</dd>-->
<dd>E-mail: <a href="mailto:info@delish.cz">info@delish.cz</a></dd>
                      
                    </dl>

                </div>
                <div class="grid_7 prefix_1 social">
                    <h2>žijeme na síti</h2>
                    <div class="wrapper">
                        <div class="grid_3 alpha">
                            <a href="http://www.facebook.com/pages/Delishcz/472573619464470?ref=ts&amp;fref=ts" class="soc3">Facebook</a><br>
                            <a href="http://www.linkedin.com/csearch/results?type=companies&amp;keywords=delish+s.r.o.&amp;pplSearchOrigin=GLHD&amp;pageKey=nprofile_v2_view_fs" class="soc5">Linked in</a>
                        </div>
                        <div class="grid_3 omega">                            
                            <a href="https://twitter.com/Delishcz" class="soc2">Twitter</a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>   
