<section id="content" class="cont_pad">
	<div class="container_24">
		<div class="wrapper">
                    <article class="grid_16">
                        <div class="img_box welcome_box">
                            <div style="float: none; width: auto;">
	<h4 class="welcome">Vítejte<strong><br>NA STRÁNKÁCH NAŠÍ RESTAURACE /delish</strong></h4>
   <p>Př&aacute;tel&eacute; dobr&eacute;ho j&iacute;dla, zveme V&aacute;s na n&aacute;v&scaron;těvu na&scaron;&iacute; restaurace ať už se budete cht&iacute;t dobře naj&iacute;st, či pouze posedět. Pro milovn&iacute;ky piva toč&iacute;me Pilsner Urquell, tě&scaron;&iacute;me se na V&aacute;s!</p></div>
<figure style="float: none;"><img src="/delish/images/mid_view/22-img_7518.jpg" alt="/delish Plzeň"></figure>                            
                            <div class="clear"></div>
                        </div>
                    </article>
                  <article class="grid_7 prefix_1 news">
                        <h2 class="ind">aktuality</h2>
                                          </article>
		</div>
	</div>	
</section> 
